
.main-container{
    height: 100vh;
    background-image: linear-gradient(to right, #03fce3, #8f73ee);
}
.names-container{
    background-color : rgb(75, 75, 78) ;    height: 54vh;
    width: 24vw;
    opacity: 0.7;
    border-radius: 20px;
    margin-right: 10px;
}
.chat-container{
    background-color: rgb(87, 79, 79);
    height: 54vh;
    width: 50vw;
    opacity: 0.7;
    border-radius: 20px;
    margin-left: 10px;
}
.navbar{
    background-color: #3c4141;
    height: 66px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.input-container{
    width: 100%;
    background-color: #202222;
    padding: 10px;
    border-radius: 16px;
}
.search{
    color: white;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}
.search-icon{
    color: white;
    font-weight: bold;
    margin-top: 2px;
}
.footer{
    background-color: #3c4141;
    height: 28px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.profile{
    background-color: white;
    margin: 6px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 34px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-chat-names-container{
    overflow: auto;
    padding: 5px;
}

.profile-name-last-seen-container{
    margin: 5px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.profile-dp{
    background-color: white;
    margin: 6px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 34px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-name{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 0;
    filter: brightness(100%);
}

.last-seen{
    font-size: small;
}
.chat-names-container{
    display: flex;
    padding: 10px;
}
.onClick-color{
    background-color: #03fce3;
}

.navbar-profile-container{
    display: flex;
}

.name-and-message-container{
    color: white;
    padding: 12px;
    padding-top: 15px;
}

.navbar-section{
    background-color: #525454;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 12px;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
}
.name {
    margin: 0;
    font-weight: 600;
}
.messages{
    font-size: 12px;
}

.icons-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-right: 20px;
}

.icon{
    color: white;
    font-size: 26px;
}

.list-item{
    list-style-type: none;
    display: flex;
    gap: 20px;
    opacity: 1;
    font-weight: 900;
}

.icon2{
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.text{
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-top: 4px;
}


.popup {
    position: absolute;
    background-color: black;
    border-radius: 20px;
    padding-top: 20px;
    z-index: 1;
    top: 35%; 
    right: 13%;
    width: 250px; 
    opacity: 0.5;
}
.chat-footer{
    order: 3;
    background-color: #525454;
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-and-icons-footer{
    background-color: #202222;
    width: 97%;
    height: 80%;
    margin: 10px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
}
.text-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    margin-left: 10px;
    width: 80%;
}
.paperclip{
    font-size: 20px;
}
.pin-and-text{
    width: 100%;
    border-right: 1px solid black;
    font-weight: 900;
    padding: 10px;
}
.send-icon-container{
    outline: none;
    border: none;
}
.send-icon{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    padding: 16px;
    outline: none;
}

.chat-section{
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
}

.profile-pic{
    background-color: white;
    margin: 4px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.venkat-profile-pic{
    background-color: rgb(194, 114, 225);
    margin: 4px;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.venkat-profile-msg-container{
    display: flex;
    align-self: flex-end;
}
.others-profile-msg-container{
    display: flex;
}

.venkat-msg {
    background-color: rgb(45, 229, 63);
    padding: 10px;
    border-radius: 26px;
    margin: 0;
}
.others-msg {
    background-color: rgb(137, 212, 235);
    padding: 10px;
    border-radius: 20px;
    margin: 0;
}
.time{
    color: white;
    font-size: 10px;
    
}
.others-time{
    color: white;
    font-size: 10px;
}

.venkat-msg-time-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.p-container{
    background-image: linear-gradient(to right, #03fce3, #8f73ee);
    padding: 50px; 
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}
.p{
    background-color: rgb(194, 114, 225);
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 40px;
    height: 72px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.main-heading{
    color: rgb(45, 65, 64);
    font-weight: bold;
    margin: 0;
    font-family: Roboto;
}
.main-para{
    color: white;
    margin-left: 5px;
    font-weight: bold;
}
.online{    
    width: 16px;
    height: 16px;
    background-color: #4CAF50; 
    border-radius: 50%; 
    border: 1px solid #fff; 
    margin-left: 50px;
    margin-top: -32px;
}

@media all and (max-width: 992px){
    .inner-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .main-container{
        height: 140vh;
        background-image: linear-gradient(to right, #03fce3, #8f73ee);
    }
    .names-container{
        width: 100%;
    }
    .chat-container{
        width: 100%;
        margin: auto;
    }
    .profile-dp{
        background-color: white;
        margin: 6px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 34px;
        height: 60px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .p-container{
        margin: 20px;
        background-image: linear-gradient(to right, #03fce3, #8f73ee);
        padding: 50px; 
        border-radius: 10px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    }
    .popup {
        position: absolute;
        background-color: black;
        border-radius: 20px;
        padding-top: 20px;
        z-index: 1;
        top: 84%; 
        right: 17%;
        width: 200px; 
        opacity: 0.5;
        font-size: 6px;
    }
    .name{
        font-size: 18px;
        margin: 0;
        padding: 0;
    }
    .icon{
        font-size: 20px;

    }
}

